.navBarBg {
    border-bottom: 15px darkslateblue solid;
    background-color: white;
    padding-bottom: 0;
}
.googleBooks {
    color: darkslateblue;
    font-size: 25px;
    font-weight: bold;
}
#navLink {
    color: darkslateblue;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 2px;
    font-size: 18px;
}
#book {
    width: 10%;
    height: 10%;
}