.navBarBg {
    border-bottom: 15px darkslateblue solid;
    background-color: white;
    padding-bottom: 0;
}
.googleBooks {
    color: darkslateblue!important;
    font-size: 25px!important;
    font-weight: bold;
}
#navLink {
    color: darkslateblue;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 2px;
    font-size: 18px!important;
}
#book {
    width: 5%;
    height: 10%;
}
@media screen and (max-width: 640px) {
    #book {
        width: 20%;
    }
}